.Scissors {
  width: 20rem;
  height: 20rem;
  background-color: white;
  display: flex;
  padding: 5rem;
  border-radius: 50%;
  clip-path: circle;
  border: 2rem solid sandybrown;

  position: relative;
}
.Scissors span {
  position: absolute;
  top: -50px;
  font-size: 1.6rem;
  color: white;

  left: 50px;
  text-transform: uppercase;
  font-weight: bold;
}

@media only screen and (max-width: 850px) {
  .Scissors span {
    left: 10px;
  }
}
.Scissors img {
  display: block;
}
